<div class="text-gray-300 max-w-7xl p-6 bg-gray-800 border border-gray-700 rounded-lg shadow">
  <h5 class="mb-2 text-2xl font-bold tracking-tight text-white">{{ 'privacy' | translate }}</h5>
  <h4>ADATKEZELÉSI TÁJÉKOZTATÓ</h4>
  <p class="mb-3 font-normal text-gray-400">
    {{ 'under_dev' | translate }}
  </p>
  <p>1. A Tájékoztató célja és az Adatkezelő</p>
  <p>
    A jelen Tájékoztató célja, hogy az EU 2016/679 számú általános adatvédelmi rendeletével ("GDPR") összhangban
    teljes körűen bemutassa a Tündérmosoly Alapítvány (székhely: 3534 Miskolc, Tópart utca 16.,
    nyilvántartási szám: 05010064668, e-mail cím: tundermosolyalapitvany@gmail.com) mint adatkezelő
    (a továbbiakban: "Adatkezelő") által a lenti 2. pontban meghatározott cél vonatkozásában kifejtett
    adatkezelési tevékenységet.
  </p>
  <p>2. Adatkezelési célok</p>
  <p>
   2.1 Az adatkezelés célja, hogy az Adatkezelő az általa üzemeltetett tundermosoly.hu honlapon elérhető hírlevélre
    feliratkozók személyes adatait kezelje kapcsolattartás és a hírlevél küldése céljából.
  </p>
  <p>
    2.2 Az adatkezelés célja, hogy az Adatkezelő által szervezett eseményekre, rendezvényekre a résztvevők a
    tundermosoly.hu honlapon regisztrálhassák magukat.
  </p>
  <p>3. Az érintettek és a kezelt adatok köre</p>
  <p>
    Az Adatkezelő a 2.1 pontban meghatározott célból a rendelkezésére bocsátott alábbi személyes adatokat kezeli:
    e-mail cím, vezetéknév, utónév, szervezet, ország, preferált nyelv, érdeklődési terület.


  </p>

  <p>

  </p>
  <p>

  </p>


</div>
