<div class="text-gray-300 max-w-7xl p-6 bg-gray-800 border border-gray-700 rounded-lg shadow">
  <h5 class="mb-2 text-2xl font-bold tracking-tight text-white">{{ 'privacy' | translate }}</h5>
  <h4 class="mb-3">ADATKEZELÉSI TÁJÉKOZTATÓ</h4>

  <p class="pt-3">
    A Tündérmosoly Alapítvány elkötelezett az Ön magánéletének és személyes adatainak védelmében. Ezen adatvédelmi
    tájékoztatóban részletesen tájékoztatjuk Önt arról, hogy milyen adatokat gyűjtünk Öntől, hogyan használjuk fel azokat, és hogyan védelmezzük azokat.
  </p>

  <p class="pt-3">A jelen Tájékoztató célja, hogy az EU 2016/679<sup class="text-red-400">*</sup> számú általános adatvédelmi rendeletével ("GDPR") összhangban
    teljes körűen bemutassa a <b>Tündérmosoly Alapítvány</b></p>
  <p> - Székhely: 3534 Miskolc, Tópart utca 16.</p>
  <p> - Nyilvántartási szám: 05010064668</p>
  <p> - E-mail cím: tundermosolyalapitvany@gmail.com</p>
  <p> - Telefon: +36 20 997 43 60 / Firkola Zsuzsanna, alapító</p>
  <p>mint adatkezelő (a továbbiakban: <b>"Adatkezelő"</b>) által az alábbi pontokban meghatározott célok vonatkozásában kifejtett
    adatkezelési tevékenységet.
  </p>
  <p class="pt-3">Az adatkezelés célja, hogy az Adatkezelő az általa üzemeltetett tundermosoly.hu honlapon elérhető hírlevélre
    feliratkozók személyes adatait kezelje kapcsolattartás és a hírlevél küldése céljából, illetve az általa szervezett eseményekre, rendezvényekre a résztvevők a
    tundermosoly.hu honlapon regisztrálhassák magukat.
  </p>
  <p class="pt-3">
    Az Adatkezelő ezen célból a rendelkezésére bocsátott alábbi személyes adatokat kezeli:
  </p>
  <p class="pt-3">
    Név, e-mail cím és kapcsolatfelvételi információk: Az Ön nevét és e-mail címét kérhetjük, hogy válaszolni tudjunk
    a megkereséseire és értesítéseket küldhessünk Önnek az adományokkal vagy az alapítvány tevékenységeivel kapcsolatban.
  </p>
  <p class="pt-3">
    Adományozási információk: Az adományozással kapcsolatos adatokat, például a bankszámlaszámot vagy a fizetési mód
    adatait gyűjthetjük, amikor Ön adományoz az alapítványnak. Az adományozás feldolgozásához harmadik fél
    fizetési szolgáltatót is alkalmazhatunk.
  </p>
  <p class="pt-3">
    Weboldalunk cookie-kat és hasonló nyomkövető technológiákat használhat a felhasználói élmény javítása és a
    weboldal teljesítményének elemzése érdekében. Ezek az információk nem tartalmazzák az Ön személyazonosságára
    vonatkozó adatokat és csak az Ön böngészési szokásait és
    preferenciáit rögzítik. A cookie-k és nyomkövetők letiltására van lehetősége a böngészője beállításaiban.
  </p>
  <p class="pt-3">
    Az Ön személyes adatait bizalmasan kezeljük, és nem osztjuk meg harmadik felekkel, kivéve, ha jogszabályok vagy
    hatósági előírások írják elő. Biztosítjuk, hogy az Ön személyes adatait megfelelő technikai és szervezeti
    intézkedésekkel védjük a jogosulatlan hozzáféréstől, felhasználástól, vagy más veszélyektől.
  </p>
  <p class="pt-3">
    Önnek joga van betekintést kapni az általunk gyűjtött személyes adatokba és kérheti azok helyesbítését, törlését
    vagy korlátozását. Ha szeretné gyakorolni ezeket a jogokat vagy kérdése merül fel az adatvédelemmel kapcsolatban,
    kérjük, lépjen kapcsolatba velünk az alábbi elérhetőségeken.
  </p>
  <p class="pt-3">
    Fenntartjuk a jogot, hogy időről időre módosítsuk az adatvédelmi tájékoztatónkat. Az esetleges változtatásokról
    értesíteni fogjuk Önt az új adatvédelmi tájékoztató közzétételével. Az új adatvédelmi tájékoztató érvényességét
    a közzétételt követően kezdjük.
  </p>
  <p class="pt-3">Amennyiben kérdése vagy észrevétele van az adatvédelmi gyakorlatunkkal kapcsolatban, vagy szeretné
    gyakorolni az adatvédelmi jogait, kérjük, lépjen kapcsolatba velünk az alábbi elérhetőségeken:</p>

  <p class="pt-3">Email: tundermosolyalapitvany@gmail.com</p>

  <p class="pt-3">Telefon: +36 20 997 4360</p>
  <p class="pt-3">
    Köszönjük, hogy meglátogatta a Tündérmosoly Alapítvány weboldalát és megismerte adatvédelmi gyakorlatunkat.
  </p>
  <p class="pt-3">
    Jelen Adatvédelmi tájékoztató dátuma: <b>2023.07.20.</b>
  </p>


  <hr/>

  <p class="p-3 text-sm">
    <sup class="text-red-400">*</sup>
    Az általános adatvédelmi rendelet, hivatalosan Az Európai Parlament és a Tanács (EU) 2016/679 rendelete a
    természetes személyeknek a személyes adatok kezelése tekintetében történő védelméről és az ilyen adatok szabad
    áramlásáról, valamint a 95/46/EK irányelv hatályon kívül helyezéséről (angolul: General Data Protection
    Regulation, röviden: GDPR) az Európai Unió rendelete, amely az Európai Gazdasági Térség területén tartózkodó
    természetes személyek személyes adatait védi és rendelkezik a tagállamok közötti szabad információáramlásról.
  </p>
  <p class="p-3">Alapfogalmak</p>
  <p class="p-3 text-sm">
    <b>Személyes adat:</b> Azonosított vagy azonosítható természetes személyre (Érintett) vonatkozó bármely információ. Azonosítható az a természetes személy, aki közvetlen vagy közvetett módon, különösen valamely azonosító, például név, szám, helymeghatározó adat, online azonosító vagy a természetes személy testi, fiziológiai, genetikai, szellemi, gazdasági, kulturális vagy szociális azonosságára vonatkozó egy vagy több tényező alapján azonosítható.
  </p>
  <p class="p-3 text-sm">
    <b>Különleges személyes adat:</b> A faji vagy etnikai származásra, politikai véleményre, vallási vagy világnézeti meggyőződésre vagy szakszervezeti tagságra utaló személyes adatok, valamint a természetes személyek egyedi azonosítását célzó genetikai és biometrikus adatok, az egészségügyi adatok és a természetes személyek szexuális életére vagy szexuális irányultságára vonatkozó személyes adatok.
  </p>
  <p class="p-3 text-sm">
    <b>Adatkezelés:</b> A személyes adatokon vagy adatállományokon automatizált vagy nem automatizált módon végzett bármely művelet vagy műveletek összessége, így a gyűjtés, rögzítés, rendszerezés, tagolás, tárolás, átalakítás vagy megváltoztatás, lekérdezés, betekintés, felhasználás, közlés továbbítás, terjesztés vagy egyéb módon történő hozzáférhetővé tétel útján, összehangolás vagy összekapcsolás, korlátozás, törlés, illetve megsemmisítés.
  </p>
  <p class="p-3 text-sm">
    <b>Adatkezelő:</b> Az a természetes vagy jogi személy, közhatalmi szerv, ügynökség vagy bármely egyéb szerv, amely a személyes adatok kezelésének céljait és eszközeit önállóan vagy másokkal együtt meghatározza; ha az adatkezelés céljait és eszközeit az uniós vagy a tagállami jog határozza meg, az adatkezelőt vagy az adatkezelő kijelölésére vonatkozó különös szempontokat az uniós vagy a tagállami jog is meghatározhatja.
  </p>
  <p class="p-3 text-sm">
    <b>Adatfeldolgozó:</b> Az a természetes vagy jogi személy, illetve jogi személyiséggel nem rendelkező szervezet, aki vagy amely szerződés alapján – beleértve a jogszabály rendelkezése alapján kötött szerződést is – adatok feldolgozását végzi.
  </p>
  <p class="p-3 text-sm">
    <b>Érintett:</b> Az adatkezelés alanya, bármely meghatározott, személyes adat alapján azonosított vagy – közvetlenül vagy közvetve – azonosítható természetes személy.
  </p>


</div>
