<div class="max-w-7xl p-6 bg-gray-800 border border-gray-700 rounded-lg shadow font-normal text-gray-300">
  <a routerLink="/">
    <h5
      class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{ 'who we support' | translate }}</h5>
  </a>
  <div class="mb-3 font-normal text-gray-400">Aktuális kampányunk</div>
  <div class="mt-2">
    <a href="https://www.facebook.com/photo?fbid=10218440665887581&set=a.1416600954670" target="_blank">
      ADOMÁNYGYŰJTÉS MARCI JAVÁRA
    </a>

  </div>
  <div class="mt-2">Kedves Mindenki!</div>
  <div class="mt-2">
    <img class="float-left p-3" src="assets/img/marcika.jpg" width="200">
    Mint sokan tudjátok középső gyermekünk halmozottan sérült (látássérült, mozgássérült és értelmében is akadályozott)
    kisfiú. Marci születésekor kapott két agyvérzést, melyenek következtében lett súlyosan sérült.
    Az elmúllt 6 év alatt rengeteg fejlesztésre, terápiára hordtuk, nagyon sok mindent kipróbáltunk, hogy előrébb
    jussunk. Az elmúlt fél évben Marci fejlődése nagyon sok területen megugrott. Elkezdett négykézláb közlekedni, minden
    adandó alkalommal állásba húzza magát, darabosabb ételeket tudunk enni mint korábban, az eddig használt 5-10 szó
    mellett elkezdett rövidebb szavakat ismételni és tudatosan használni. Ezek a terápiák nem kis költséggel járnak és
    most eljutottunk odáig, hogy segítséget kell kérjek.
  </div>
  <div class="mt-2">
    Ezen költségek finanszírozására létrejött végre a saját alapítvaányunk a Tündérmosoly Alapítvány, mely elsősorban
    Marcikám fejlesztéseinek finanszírozására jött létre, de tevékenységünk során szeretnénk a hasonló sorsú szülőket,
    testvéreket is támogatni a későbbiekben.
    Most 1.400.000 forintra lenne szükségünk,
    amiből egy speciális állítógépet szeretnénk vásárolni, ami függőleges és dönthető helyzet mellett a terpesz állást
    is tudja biztosítani Marci számára. Ennek költsége 2500 Euró+a rehabilátiós központ beállítási költségei ami kb
    20-30000.
    Marci lehetőséget kapott egy kifejezetten CP-s gyerekeknek szervezett fejlesztő táborban való részvételre ahol
    személyre szabott terápiát kap 1 héten keresztül, melynek költsége 110.000.- forint. Az állandó konduktív terápiái
    mellett van két terápia ami az elmúlt hónapokban sikeresnek bizonyult, ez a Vojta és a Pfaffenrot terápia melyekből
    idén még 2*1 illetve 2*2 hetet szeretnénk menni ezek együttes költsége 200.000.- A tábort követően, pedig a
    beszédfejlődés indítására logopédust szeretnék keresni Neki.
    Amennyiben lehetőséged van rá, kérlek támogasd a kisfiúnk feljesztését akár egy fagyi árával is. Hálás köszönet
    érte!
  </div>
  <div class="mt-2">
    Tündérmosoly Alapítvány
  </div>
  <div class="mt-2">
    bankszámla száma: MBH Bank 10101016-79278200-01005003
  </div>
  <div class="mt-2">
    adószáma: 19314370-1-05
  </div>


</div>
