<div class="max-w-7xl p-6 bg-gray-800 border border-gray-700 rounded-lg shadow font-normal text-gray-300">
  <a routerLink="/">
    <h5
      class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{ 'who we support' | translate }}</h5>
  </a>
  <div class="mb-3 font-normal text-gray-400">Aktuális kampányunk</div>
  <div class="mt-2">
    <a href="https://www.facebook.com/photo?fbid=10218440665887581&set=a.1416600954670" target="_blank">
      {{ 'page.sponsored.title' | translate}}
    </a>
  </div>
  <div class="mt-2">
    <img class="float-left px-2" src="assets/img/marcika.jpg" width="200" alt="">
    {{ 'page.sponsored.b0' | translate}}</div>
  <div class="mt-2">{{ 'page.sponsored.b1' | translate}}</div>
  <div class="mt-2">{{ 'page.sponsored.b2' | translate}}</div>
  <div class="mt-2"> {{ 'page.sponsored.b3' | translate}}</div>
  <div class="mt-2">Tündérmosoly Alapítvány</div>
  <div class="mt-2">bankszámla száma: (MBH Bank) 10101016-79278200-01005003</div>
  <div class="mt-2">adószáma: 19314370-1-05</div>
</div>
