<nav class="bg-white border-gray-200 dark:bg-gray-900">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
    <a href="#" class="flex items-center">
      <img src="/assets/img/logo1.png" class="h-12 mr-3" alt="Tündérmosoly Logo"/>
      <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">Tündérmosoly</span>
    </a>
    <button data-collapse-toggle="navbar-default" type="button"
            class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg
                   md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400
                   dark:hover:bg-gray-700 dark:focus:ring-gray-600"
            aria-controls="navbar-default" aria-expanded="false">
      <span class="sr-only">Open main menu</span>
      <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M1 1h15M1 7h15M1 13h15"/>
      </svg>
    </button>
    <div class="hidden w-full md:block md:w-auto" id="navbar-default">
      <ul
        class="font-medium flex flex-col p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:flex-row
               md:space-x-8 md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
        <li>
          <a href="#"
             class="block py-2 pl-3 pr-4 text-white bg-blue-700 rounded
              md:bg-transparent md:text-blue-700
              md:p-0 dark:text-white md:dark:text-blue-500"
             aria-current="page">Kiket támogatunk?</a>
        </li>
        <li>
          <a href="#"
             class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent
                    md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500
                    dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Támogatóink</a>
        </li>
        <li>
          <a href="#"
             class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent
                    md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500
                    dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Kapcsolat</a>
        </li>
        <li>
          <a href="#"
             class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent
                    md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500
                    dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Események</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="w-full mx-auto bg-gray-900">
  <div class="p-4 m-0  text-gray-300 max-w-screen-xl mx-auto">
    <div class="grid grid-cols-3 gap-4">
      <div class="col-span-3 sm:col-span-1 mx-auto text-center">
        <img src="/assets/img/marcika.jpg" alt="Tündérmosoly" class=" w-2/3 sm:w-full inline">
      </div>
      <div class="col-span-3 sm:col-span-2">
        <div class="w-full mx-auto text-2xl text-center">Üdvözöljük a Tündérmosoly Alapítvány weboldalán!</div>
        <div class="m-4 text-xl">
          A Tündérmosoly Alapítvány egy közösségi kezdeményezés, amely arra törekszik, hogy segítséget nyújtson a halmozottan sérült gyermekeknek és családjaiknak. Célunk az, hogy fejlődési lehetőségeket és támogatást biztosítsunk az értelmi, mozgásszervi és látássérült kisgyermekeknek, hogy minél jobb életminőséget érjenek el.
        </div><div class="m-4">
          Együttműködve szakemberekkel, terapeutákkal és támogatókkal, elkötelezettek vagyunk azon, hogy megteremtsük a szükséges feltételeket a gyerekek számára a fejlődésükhöz és a mindennapi életben való részvételükhöz. Minden gyermek egyedi igényekkel rendelkezik, ezért személyre szabott terápiákat, fejlesztéseket és eszközöket biztosítunk számukra.
      </div><div class="m-4">
          Az alapítványunk működését elsősorban adományok és támogatások finanszírozzák. Az adományok révén lehetővé tesszük, hogy tovább folytathassuk fejlesztő programjainkat, terápiáinkat és segítő szolgáltatásainkat. Minden adomány hatalmas jelentőséggel bír, és segít abban, hogy mosolyt csaljunk az érintett gyermekek arcára.
      </div><div class="m-4">
          Weboldalunkon információkat találhat a tevékenységünkről, a projekteinkről, a gyermekek történeteiről és a terápiás lehetőségeinkről. Emellett lehetősége van közvetlen adományozásra és támogatói regisztrációra.
      </div><div class="m-4">
          Csatlakozzon hozzánk abban a küldetésben, hogy együtt teremtsünk több mosolyt a gyermekek arcán! Köszönjük, hogy támogatja a Tündérmosoly Alapítványt.
      </div><div class="m-4">
          Ha bármilyen kérdése van, kérjük, vegye fel velünk a kapcsolatot az alábbi elérhetőségeken.
      </div>

        <div>
          <a href="mailto:tundermosolyalapitvany@gmail.com">tundermosolyalapitvany@gmail.com</a>
        </div>


        <div>
          <a href="tel:+36209974360">+36 20 997 4360</a>
        </div>

        <div class="m-4">
          Üdvözlettel,
      </div><div>
          Tündérmosoly Alapítvány Csapata
        </div>
      </div>
    </div>

  </div>
</div>
<router-outlet></router-outlet>
<footer class="bg-gray-700 rounded-lg shadow m-4 dark:bg-gray-800">
  <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
      <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2023 <a href="#" class="hover:underline">PrStart™</a>. All Rights Reserved.
    </span>
    <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0">
      <li>
        <a href="#" class="mr-4 hover:underline md:mr-6 ">Rólunk</a>
      </li>
      <li>
        <a href="#" class="mr-4 hover:underline md:mr-6">Adatvédelem</a>
      </li>
      <li>
        <a href="#" class="mr-4 hover:underline md:mr-6">Marciról</a>
      </li>
      <li>
        <a href="#" class="hover:underline">Kapcsolat</a>
      </li>
    </ul>
  </div>
</footer>
